html {
  background: url('../images/background.jpg') #f5efe6;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: "Segoe UI",helvetica,arial,sans-serif;
  font-size: 15px;
  line-height: 21px;
  margin: 0 40px 40px;
}
a {
  color: inherit;
  text-decoration: none;
  padding: 2px 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0.25);
}
body>header {
  text-align: center;
  margin: 0 auto 10px auto;
  zoom: 1;
}
body>header>nav {
  zoom: 1;
  clear: both;
  position: relative;
  padding: 40px 0 20px 0;
  margin: 0 auto;
  max-width: 1040px;
  min-width: 985px;
  display: block;
}
body>header div.logo {
  position: absolute;
  top: 23px;
}
body>header div.logo>a {
  text-indent: -9000px;
  display: block;
  padding: 0;
  height: 34px;
  width: 138px;
  background: url('../images/logo.png') no-repeat center top;
}
body>header div.logo>a:hover {
  background-position: center bottom;
}
div.announcements_link {
  text-align: left;
  position: absolute;
  left: 160px;
  top: 34px;
  text-shadow: 0 1px #fff;
  text-rendering: optimizeLegibility;
}
div.announcements_link a {
  white-space: nowrap;
  color: #c00;
}
header div.global_links {
  opacity: 1.0;
  left: 255px;
  text-align: left;
  position: absolute;
  top: 34px;
  padding-left: 5px;
  border-left: 1px solid #ded7c8;
  text-shadow: 0 1px #fff;
  text-rendering: optimizeLegibility;
}
div.global_links a {
  color: #7d7a75;
  font-size: 14px;
  text-align: left;
  display: inline-block;
  width: 70px;
  padding: 0;
  text-align: center;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}
div.global_links a.current_link {
  text-decoration: underline;
  color: #000000;
}
div.global_links a.topnav_everyone {
  margin-left: 5px;
  padding-left: 8px;
  border-left: 1px solid #ded7c8;
}
a:hover {
  color: #1c5c76;
  text-decoration: underline;
}
div.global_links a:hover {
  color: #000;
}
div.container {
  margin: 0 auto;
  width: 960px;
}
div.sheet {
  min-height: 480px;
  background: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div.sheet.project>header {
  margin: 0;
  padding: 30px 30px 0px 30px;
  position: relative;
  text-rendering: optimizeLegibility;
}
div.sheet.project>div.sort_types {
  margin: 0;
  padding: 30px 30px 0px 30px;
  position: relative;
  text-rendering: optimizeLegibility;
  display: inline-block;
}
div.sheet.project>div.description {
  margin: 0;
  padding: 30px 30px 0px 30px;
  position: relative;
  text-rendering: optimizeLegibility;
  display: inline-block;
}
div.sheet.project>div.algo_test {
  margin: 0;
  padding: 30px 30px 0px 30px;
  position: relative;
  text-rendering: optimizeLegibility;
  display: inline-block;
}
div.sheet.project>header>div.title {
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
  overflow: hidden;
}
div.sheet.project>header h1 {
  font-size: 24px;
  line-height: 28px;
  min-height: 29px;
  color: #000;
  font-weight: bold;
  margin-bottom: 3px;
  display: inline-block;
  position: relative;
  text-rendering: auto;
  word-wrap: break-word;
  max-width: 600px;
}
div.sort_types a.sort_type {
  width: 210px;
  height: 235px;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  text-align: left;
  background: #fff;
  padding: 15px;
  text-rendering: optimizeLegibility;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}
div.sort_types a.sort_type:hover {
  -moz-box-shadow: 0 0 7px 0 rgba(0,0,0,0.38);
  -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.38);
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.38);
}
div.sort_types a.sort_type h5 {
  font-size: 19px;
  margin: 0 0 3px;
  line-height: 1.1em;
  word-wrap: break-word;
}
div.sort_types a.sort_type p {
  font-size: 16px;
  line-height: 1.2em;
  word-wrap: break-word;
  color: #aa9c84;
}
.container :hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.tabnav {
  margin: 10px 0;
  border-bottom: 1px solid #DDD;
}
.tabnav-tabs li.selected {
  border-color: #DDD;
  border-radius: 3px 3px 0 0;
  background-color: white;
  color: #333;
  font-weight: bold;
}
.tabnav-tabs li {
  display: inline-block;
  margin-bottom: -1px;
  padding: 8px 12px;
  border: 1px solid transparent;
  border-bottom: 0;
  font-size: 14px;
  color: #666;
  text-decoration: none;
}
.tabnav .tabnav-tabs > li {
  display: inline-block;
}
.tabnav .tabnav-tabs > li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.tabnav  > ul {
  margin: 0;
  padding-left: 1em;
}
.submit {
  clear: both;
  font-size: 13px;
  min-height: 18px;
  vertical-align: baseline;
  margin: 20px 20px 0;
}
input[type=submit] {
  vertical-align: baseline;
  margin-top: 0;
  border-color: #016c43;
  background-color: #00a264;
  font-size: 12px;
  line-height: 17px;
  padding: 3px 12px;
  color: #fff;
  -webkit-box-shadow: 0px 1px 0px #016c43;
  -moz-box-shadow: 0px 1px 0px #016c43;
  box-shadow: 0px 1px 0px #016c43;
  margin: -1px 0 0;
  background: #00a264;
  border: 1px solid #ccc;
  vertical-align: top;
  text-decoration: none;
  -webkit-appearance: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background: #fff;
  color: #000;
}
.separator {
  clear: both;
  height: 20px;
}
h4 {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  color: #900;
  -webkit-font-smoothing: antialiased;
}
.algo-stat {
  min-width: 900px;
  height: 400px;
  margin: 0 auto;
}
.algo-complexity {
  width: 100%;
  text-align: center;
  color: #333;
}
.algo-complexity th {
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
  font-weight: bold;
  font-size: 14px;
}
.algo-complexity th:first-child {
  border-left: 0px;
}
.algo-complexity td {
  border-left: 1px solid #DDD;
}
.algo-complexity td:first-child {
  border-left: 0px;
}
.algo_test .algo-complexity {
  width: 900px;
}
.algo-stat-table {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
  font-size: 14px;
  color: #333;
}
.algo-stat-block {
  -moz-box-shadow: 0 0 7px 0 rgba(0,0,0,0.18);
  -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.18);
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.18);
  margin-bottom: 15px;
}
.algo-stat-table-block {
  width: 900px;
  height: 105px;
}
.algo-stat-table-block table tr:nth-child(2) {
  color: #2f7ed8;
}
.algo-stat-table-block table tr:nth-child(4) {
  color: #0d233a;
}
.algo-stat-table-block table tr:nth-child(6) {
  color: #8bbc21;
}
